@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap");

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Quicksand", sans-serif;
}

.frame {
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.center {
   width: 400px;
   height: 400px;
   background-color: #a0a0a0;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
}

.timer {
   background-color: #000a00;
   width: 200px;
   height: 200px;
   border-radius: 50%;
   outline: 7px solid #fff;
   display: flex;
   justify-content: center;
   align-items: center;
}
.ring {
   width: 180px;
   height: 180px;
   border-radius: 50%;
   border: 3px solid lightcyan;
   display: flex;
   justify-content: center;
   align-items: center;
}

.dotted-ring {
   width: 170px;
   height: 170px;
   border-radius: 50%;
   border: 3px dotted #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   color: #fff;
}

.date,
.kal {
   font-size: 12px;
}

.time {
   font-size: 40px;
   font-weight: 700;
}

@keyframes spinner {
   from {
      stroke-dashoffset: 600;
      transform: rotate(-90deg) translate(50%, 50%) scaleY(1);
   }

   50% {
      stroke-dashoffset: 0;
      transform: rotate(-90deg) translate(50%, 50%) scaleY(1);
   }

   50.0001% {
      transform: rotate(-90deg) scaleY(-1) translate(50%, 50%);
   }

   to {
      transform: rotate(-90deg) scaleY(-1) translate(50%, 50%);
      stroke-dashoffset: 600;
   }
}
